/* Remove the navbar's default margin-bottom and rounded borders */
body {
	height:100vh:	
}

.navbar {
  margin-bottom: 0;
  border-radius: 0;
}
/*
.sidebar{
	height:100vh;
	background:#5bc0de;
}*/

.open-sidebar{
	background-color:#84acb3;
	color:white;
	position:absolute;
	z-index:1;
	cursor:pointer;
	width:25px;
	text-align:center;
}
/* The side navigation menu */
.sidebar {
    height: 100%; /* 100% Full-height */
    width: 250px; /* 0 width - change this with JavaScript */
    position: absolute; /* Stay in place */
    z-index: 2; /* Stay on top */
    left: 0;
    background-color: #84acb3; 
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidebar .sidebar-item{
    padding: 8px 8px 8px 32px;
    text-decoration: none;
	text-align:center;
	color:#f7ebca;
    font-size: 17.5px;
    display: block;
    transition: 0.3s;
	z-index:10;
	cursor:move;
	background-color:#234b5e;
	margin:4px;
	border-radius:10px;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.mainbar{
	height:80vh;
}

.level0-handle{
	float:right;
}

.circleBase {
    border-radius: 50%;
    behavior: url(PIE.htc); /* remove if you don't care about IE8 */
	width: 200px;
    height: 200px;
    background: white;
    border: 5px solid black;
	text-align: center;
	line-height: 150px;
	cursor:pointer;
}

.circleBase p{
	margin:auto;
	top:50%;
}

.roundedRectangle {
    border-radius: 25px;
    behavior: url(PIE.htc); /* remove if you don't care about IE8 */
	padding: 25px;
    height: 200px;
    background: white;
    border: 5px solid black;
}



#popUpInput{
   z-index: 100;
   position: absolute;
   background-color: rgba(123, 123,123, 0.9);
   display: none;
   width: 400px;
   height: 400px;
   position: absolute;
   top: 50%;
   left: 50%;
   margin: -200px 0 0 -200px;

}
#popUpInput > a {
    width: 90px;
    height: 90px;
    float: left;
    margin: 15px;
}

tbody {	
 	top: 25px;		
 	bottom: 0px;		
 	left: 0px;		
 	right: 0px;		
 	margin: 0;		
 	overflow-y: scroll;		
 	overflow-x: hidden;		
  }
  
 .item {	
 	border: 1px solid black;	
 	background-color: #ddddff;		
   }

 .noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}

.levelPage{
	margin-left:255px;
	position:relative;
	transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}