/* Remove the navbar's default margin-bottom and rounded borders */ 
.navbar {
  margin-bottom: 0;
  border-radius: 0;
}

.sidebar{
	height:100vh;
	background:#5bc0de;
}

.mainbar{
	height:100vh;
	border:1px solid;
}

.level0-handle{
	float:right;
}

.circleBase {
    border-radius: 50%;
    behavior: url(PIE.htc); /* remove if you don't care about IE8 */
}

.type3 {
    width: 200px;
    height: 200px;
    background: white;
    border: 15px solid blue;
	text-align: center;
	line-height: 150px;
}