/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
  margin-bottom: 0;
  border-radius: 0;
}

.sidebar{
	height:100vh;
	background:#5bc0de;
}

.mainbar{
	height:100vh;
	border:1px solid;
}

.level0-handle{
	float:right;
}

.circleBase {
    border-radius: 50%;
    behavior: url(PIE.htc); /* remove if you don't care about IE8 */
}

.type3 {
    width: 200px;
    height: 200px;
    background: white;
    border: 15px solid blue;
	text-align: center;
	line-height: 150px;
}

.type4 {
    width: 200px;
    height: 200px;
    background: white;
    border: 5px solid black;
	text-align: center;
	line-height: 150px;
}

#popUpInput{
   z-index: 100;
   position: absolute;
   background-color: rgba(123, 123,123, 0.9);
   display: none;
   width: 400px;
   height: 400px;
   position: absolute;
   top: 50%;
   left: 50%;
   margin: -200px 0 0 -200px;

}
#popUpInput > a {
    width: 90px;
    height: 90px;
    float: left;
    margin: 15px;
}
